<div class="mt-4">

    <form method="GET" action="">
        <div class="form-group">
            <label for="exampleInputSearch">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name = "q" placeholder="Nhập từ khóa tìm kiếm...">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>

</div>